@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins&display=swap');

/* ------ Start of Variables ------ */

:root {
    /* Text Colors */ 
    --text-gray: #808291;
    --text-white: #f8f9fa; 
    --text-light: #f6f6f6; 
    --text-dark: #1A3260; 
    --text-dark1: #19479e; 
    --text-dark2: #1A3760D4; 
    --text-red: #ff4d6d;
    --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    --bg-blue: rbg(249, 243, 255);
    --bg-red: rgb(254, 247, 252);
    --bg-yellow: rgb(255, 255, 246); 
    --bg-purple: rgb(246, 255, 255); 

    /* Font Family */
    --font-poppins: "Poppins", 'sans-serif';
    
    /* Gradients */
    --bg-gradient: linear-gradient(90deg, #ff512f, #dd2476);
    --bg-gradient-indigo: linear-gradient(90deg, #8e2de2, #4a00e0);
    --bg-gradient-peach: linear-gradient(90deg, #fff7f3, #fff7f3); 

    /* Images */
    --bg-cover: url('https://images.unsplash.com/photo-1498049860654-af1a5c566876?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80'); 
    --bg-image1: url('./assets/img1.png'); 
    --bg-image2: url('./assets/img2.png'); 
    --bg-image3: url('./assets/img3.png'); 
    --company-logo: url('./assets/logo.jpg');
}

/* Remove padding & margin from all HTML elements */
* > * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* ------ End of Variables ------ */


/* ------ Start of Global Classes ------ */

.text-dark {
    color: var(--text-dark);
}

.text-white {
    color: var(--text-white);
}

.text-light {
    color: var(--text-light);
}

.text-red {
    color: var(--text-red);
}

.bg-gradient {
    background: var(--bg-gradient);
}

.bg-gradient-indigo {
    color: var(--bg-gradient-indigo);
}

.bg-gradient-peach {
    color: var(--bg-gradient-peach);
}

.bg-gradient-red {
    color: var(--bg-red);
}

.bg-gradient-blue {
    color: var(--bg-blue);
}

.bg-gradient-yellow {
    color: var(--bg-yellow);
}

.bg-gradient-purple {
    color: var(--bg-purple);
}

.bg-gradient-red {
    color: var(--bg-red);
}

.font-poppins {
    font-family: var(--font-poppins);
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 1em;
    line-height: 1.5em;
}

.text-md {
    font-size: 1.5em;
}

.text-lg {
    font-size: 2.2em;
    line-height: 3rem;
}

.text-xl { 
    font-size: 3em;
}

.text-2xl { 
    font-size: 5em;
}

.font-bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-initial{
    flex: 0 1 auto;
}

.flex-grow {
    flex-grow: 1;
}

.justify-center {
    justify-content: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.container{
    width: 100%;
}

.container-fluid {
    width: 98%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-10 {
    padding-top: 4.54em;
    padding-bottom: 4.5rem;
}

.px-5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-10 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.link {
    color: var(--text-dark2);
    font-weight: bold;
}

.link:hover {
    color: var(--text-red);
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary {
    padding: .8rem 2rem;
    border-radius: 50px;
    font-family: var(--font-poppins);
    font-weight: bold;
}

.btn-shadow {
    box-shadow: var(--box-shadow);
}

.btn-primary:hover {
    background: var(--bg-gradient-indigo);
}

.bg-cover {
    background: var(--bg-cover);
    object-fit: fill;
}

.d-inline {
    display: inline-block;
}

.d-block {
    display: block;
}

.grid {
    display: grid;
}

.cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

/* ------ End of Global Classes ------ */

/* ------ Start of Media Queries ------ */

/* For Small screen sm (640px) */
@media(min-width: 640px) {
    .container {
        max-width: 640px;
    }

    .sm-text-xl {
        font-size: 3em;
    }

    .sm-px-10 {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}

/* For Medium screen md (768px) */
@media(min-width: 768px) {
    .container {
        max-width: 786px; 
    }

    .md-text-left {
        text-align: left;
    }

    .md-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* For large screen lg (1024px) */
@media(min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    #nav .toggle-btn > button {
        display: none;
    }

    #nav {
        flex-direction: row !important;
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }

    .active {
        max-height: 100% !important;
    }

    .collapse {
        max-height: initial !important;
    }

    .collapse ul {
        flex-direction: row !important;
    }

    .lg-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .lg-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .lg-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .lg-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

/* For Extra Large screen xl (1280px) */
@media(min-width: 1280px) {
    .container {
        max-width: 1280px;   
    }

    #nav {
        background: transparent !important;
    }

    #nav .flex-initial ul button {
        display: inline-block !important;
    }
}

/* ------ End of Media Queries ------ */


/* ------ Start of Navigation ------ */
#nav {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    background: var(--text-light);
    flex-direction: column;
}

#nav .collapse {
    max-height: 0px;
    overflow-y: hidden;
    transition: all .9s ease;
}

#nav .collapse ul {
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
}

#nav .collapse ul > li {
    padding: 0 1.5rem;
    line-height: 3rem;
    font-size: 1.1em;
}

#nav .toggle-btn > button {
    font-size: 2em;
    position: absolute;
    right: 0; top: 0;
    padding: 1rem;
    color: var(--text-dark2);
}

#nav .flex-initial ul button {
    display: none;
}

.active {
    max-height: 50vh !important;
}

/* ------ End of Navigation ------ */

/* ------ Start of Banner Area ------ */

#site-main .banner-area {
    width: 100%;
    position: relative;
    background: var(--bg-cover) no-repeat;
    height: 132vh;
    background-position-x: center;
    background-position-y: top;
    z-index: -99;
}

#site-main .banner-area .banner-title {
    height: 95vh;
    padding-left: 1.5rem;
    padding-top: 16rem;
}
/* ------ End of Banner Area ------ */

/* ------ Start of About Area ------ */
.content-sub-about-text{
    line-height: 1.9em;
    font-family: var(--font-poppins);
}

.content-sub-about img {
    float: left;
    margin-right: 50px;
}

.content-sub-about-span {
    color: var(--text-dark1);
    border-bottom: 2.4px solid var(--text-dark1);
    padding-bottom: 1px;
}

.content-sub-about-head {
    font-family: var(--font-poppins);
}

/* TODO: Create Hover animataion for link */
.teamLink {
    color: black;
    font-family: var(--font-poppins);
}

/* FIXME: Hover animations are not working for some reason */
/* FIXME:  */
.teamLink::after  {
    content: "";
    background-color: #ff4d6d;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.teamLink:hover::after {
    width: 100% !important; 
}

/* ------ End of About Area ------ */

/* ------ Start of How we help Area ------ */
.content-sub-about-text1{
    line-height: 1.9em;
    font-family: var(--font-poppins);
    margin-left: 50px;
}

.content-sub-about1 img {
    float: right;
    margin-right: 50px;
    margin-top: -40px;
}

.content-sub-about-span1 {
    color: var(--text-dark1);
    border-bottom: 2.4px solid var(--text-dark1);
    padding-bottom: 1px;
}

.content-sub-about-head1 {
    font-family: var(--font-poppins);
    margin-top: 150px;
    margin-left: 50px;
}
/* ------ End of How we help Area ------ */

/* ------ Start of How we help Area ------ */
.content-sub-about-text2{
    line-height: 1.9em;
    font-family: var(--font-poppins);
    margin-left: 50px;
}

.content-sub-about2 img {
    float: right;
    margin-right: 50px;
    margin-top: -40px;
}

.content-sub-about-span2 {
    color: var(--text-dark1);
    border-bottom: 2.4px solid var(--text-dark1);
    padding-bottom: 1px;
}

.content-sub-about-head2 {
    font-family: var(--font-poppins);
    margin-top: 150px;
    margin-left: 50px;
}
/* ------ End of How we help Area ------ */

/* Start Footer */
#footer { 
    border-top: 2px solid var(--text-light);
    margin-top: 8em;
}

#footer .grid {
    column-gap: 3em;
    padding: 4em 0;
    border-bottom: 2px solid var(--text-light);
}

#footer .grid input.subscribe-text {
    border: none;
    background-color: var(--text-light);
    padding: 1em;
    font-size: 1em;
    color: var(--text-dark2);
    font-family: var(--font-poppins);
}

#footer .grid input.subscribe-text:focus {
    border: none;
    outline: none;
}

#footer .grid button.btn-go {
    background-color: var(--text-light);
    padding: 0 2em;
    font-family: var(--font-poppins);
}

#footer .grid button.btn-go:hover {
    transition: 0.6s;
    background-color: var(--text-dark2);
    color: var(--text-white);
}

.copyright {
    align-self: center;
}
/* End Footer */
